<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <h1>The Home Page <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus atque dolorem, alias asperiores cum in suscipit
      deleniti, sit aliquam ab illo laborum commodi id error illum. Eaque voluptate obcaecati modi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit officia facilis quia porro provident reprehenderit
      excepturi accusamus ea fugiat perspiciatis, necessitatibus nihil! Totam molestias cum officia esse sequi, dolores
      accusantium.</p>
  </body>

</html>